<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\SAI\Downloads\123123.jar</jar>
  <outfile>C:\Users\SAI\Downloads\testing 350\app.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\SAI\Downloads\testing 350\mulogo.ico</icon>
  <singleInstance>
    <mutexName>testapp</mutexName>
    <windowTitle>testapp</windowTitle>
  </singleInstance>
  <jre>
    <path>JRE</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
    <opt>--module-path &quot;javafx-sdk-21.0.1\lib&quot; --add-modules javafx.controls,javafx.fxml</opt>
  </jre>
</launch4jConfig>